<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="blue_lg">

    {{!-- {{> common/header }} --}}

    <div class="bg_blue"></div>

    <main>
        <section id="approve" class="page-container">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 left-side">
                        <div class="logo">
                            <img src="../assets/fmg_logo.svg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 blue_side">
                        <div class="approve_block">


                            <div class="name_block">
                                <p>Müştəri, </p>

                                <p class="name">
                                    Bəhruz Seyfullah
                                </p>
                            </div>




                            <div class="logo_done">
                                <img src="../assets/done.svg" alt="">
                            </div>

                            <p class="congrats">
                                Ödənişiniz uğurludur
                            </p>


                            <p class="thanks">
                                Təşəkkür edirik.
                            </p>



                            <a href="#" class="link">
                                Ödəniş səhifəsinə qayıt
                            </a>

                            <a class="close_block">
                                <p>Səhifəni bağla</p>

                                <div href="#" class="close">
                                    <img src="../assets/close.svg" alt="">
                                </div>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    {{> common/footer }}

</body>

</html>