<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body class="blue_lg">

    {{!-- {{> common/header }} --}}

    <div class="bg_blue"></div>

    <main>
        <section id="online_pay" class="page-container">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 left-side">
                        <div class="logo">
                            <img src="../assets/fmg_logo.svg" alt="">
                        </div>
                    </div>


                    <div class="col-lg-8 blue_side">

                        <form action="" id="form_feed">

                            <h1>ONLAYN ÖDƏNİŞ</h1>

                            <div class="input_block">
                                <label for="">Müştəri məlumatlarınızı daxil edin</label>

                                <div class="input_wrapper">
                                    <input type="text" placeholder="Ad">
                                    <input type="text" placeholder="Soyad">
                                </div>

                            </div>

                            <div class="input_block">

                                <label for="">Müqavilə nömrəsi</label>
                                <input type="text" placeholder="Müqavilə nömrəsini daxil edin">
                            </div>

                            <div class="radio_wrapper">


                                <div class="radio_block">

                                    <input type="radio" id="monthly" name="payment">
                                    <label for="monthly">Aylıq hissəvi ödəniş</label>

                                </div>

                                <div class="radio_block">

                                    <input type="radio" id="komunal" name="payment">
                                    <label for="komunal">Kommunal ödəniş</label>

                                </div>

                                <div class="radio_block">

                                    <input type="radio" id="parking" name="payment">
                                    <label for="parking">Avtodayanacaq</label>

                                </div>









                            </div>



                            <button>Ödə</button>

                        </form>


                    </div>
                </div>
            </div>

        </section>
    </main>

    {{> common/footer }}

</body>

</html>