#form_feed {
  margin-top: 125px;
  padding-left: 120px;

  @media (max-width: 991.98px) {
    margin-top: 30px;
    padding-left: 0;
  }
  h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    margin-bottom: 50px;

    @media (max-width: 991.98px) {
      margin-bottom: 25px;
    }
  }

  .input_block {
    margin-bottom: 30px;
  }
}

.logo {
  margin-top: 125px;

  @media (max-width: 991.98px) {
    display: flex;
    justify-content: center;
    margin: 75px auto 30px;
  }
}
